In [1]:
import numpy as np
import pandas as pd
import time
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB,BernoulliNB,MultinomialNB

C:\ProgramData\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
data=pd.read_csv("C:\\Users\\super\\Desktop\\Eckovation\\Titanic Data-20190917T110232Z-001\\Titanic Data\\Titanic_x_y_train.csv")

In [3]:
data.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0

In [4]:
data.shape

(668, 11)

In [7]:
passengerId=range(1,669)

In [8]:
data['PassengerID']=passengerId

In [9]:
data.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived,PassengerID
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0,2
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0,3
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0,4
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0,5

In [11]:
#convert categorical variable to numeric
data["Sex_cleaned"]=np.where(data["Sex"]=="male",0,1)
data["Embarked_cleaned"]=np.where(data["Embarked"]=="S",0,
                                  np.where(data["Embarked"]=="C",1,
                                           np.where(data["Embarked"]=="Q",2,3)))

In [12]:
#Cleaning Dataset Of NaN
data=data[["Survived","Pclass","Sex_cleaned","Age","SibSp","Parch","Fare","Embarked_cleaned"
          ]].dropna(axis=0,how='any')

In [13]:
#split dataset in training and testing
X_train,X_test=train_test_split(data,test_size=0.5,random_state=int(time.time()))

In [15]:
#instantiate the classifier
gnb=GaussianNB()
used_features=["Pclass","Sex_cleaned","Age","SibSp","Parch","Fare","Embarked_cleaned"
          ]

In [16]:
#train the classifier
gnb.fit(X_train[used_features].values,X_train["Survived"])
y_pred=gnb.predict(X_test[used_features])

In [22]:
#print Results
print("Number of mislabeled points out of total {} points:{},performance{:05.2f}%"
      .format(
          X_test.shape[0],
     (X_test["Survived"]!=y_pred).sum(),
     100*(1-(X_test["Survived"]!=y_pred).sum()/X_test.shape[0])
     ))

Number of mislabeled points out of total 268 points:64,performance76.12%

In [23]:
#calculate the probabilities
mean_survival=np.mean(X_train["Survived"])
mean_not_survival=1-mean_survival
print("Survival Probability={:03.2f}%,Not survival Prob={:03.2f}%"
     .format(100*mean_survival,100*mean_not_survival))

Survival Probability=41.04%,Not survival Prob=58.96%